/* @import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,200;0,300;0,400;0,500,600,700;1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
body.dark
{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}
body
{
    /* font-family:'poppins'sans-serif; */
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;    /*new*/
    padding: 200px;
}
*
{
    margin: 0;
    padding: 0;
    outline:none;
    text-decoration: none;
    box-sizing: border-box;
    
}
::before,::after
{
    box-sizing: border-box
}
ul
{
list-style: none;
}
/* section */
.section
{
    background:var(--bg-black-900);
    min-height: 100vh;
    display:block;
    padding:0 30px;
    opacity: 1;
    position: fixed;
    left: 70px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition:all 0.3s ease;
}
.section.back-section
{
    z-index: 1;
}
.section.active
{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}
@keyframes slideSection
{
    0% 
    {
        transform: translateX(100%);
    }
    100% 
    {
        transform: translateX(0%);
    }
}
.hidden
{
    display: none !important;
}
.padd-15
{
    padding-left: 15px; /*space between ATR and img*/
    padding-right: 15px;
}

.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
    /* margin:auto; space between ATR and image */
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px ;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100;
    margin-bottom: 60px; /*space between About Me and write ...*/
}
.section-title h2
{
    font-size:40px;
    color:var(--text-black-900);
    font-weight:7000;
    position: relative;
}
.section-title h2::before
{
    content:' ';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content:' ';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
/* ATR */
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 25px;
    color: white;
    border-radius: 40px; /*دايره  في  hire me*/
    /* background: var(--skin-color); */
    display: inline-block;
    white-space: nowrap ;
    transition: all 0.3s ease;

}
.btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 5px #03e9f4,
                0 0 5px #03e9f4,
                0 0 5px #03e9f4;
                
}
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: linear-gradient(#141e30, #243b55);
}


.btn:hover
{
    transform:scale(1.05) ;
}
.shadow-dark
{
    box-shadow:0 0 20px rgba(48 , 46 , 77 , 0.15);
}
/* ATR */

.ART.dark
{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}

/* list */
.ATR  
{
    width: -270px;
    background: var(--bg-black-100);
    position: fixed;
    left: -10px;;
    height: 100%;
    top: 0;
    z-index: 10;
    padding: 40px; /*padding to size aside */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:1px solid var(--bg-black-50);
    transition: all 0.3s ease;
}
.ATR .logo
{
    position:absolute;/* position absolute to position center*/
    top: 300px;
    font-size: 30px;
    text-transform:capitalize;
    left: -50px;
}
.ATR .logo a
{
    color: var(--text-black-900);
    font-weight:700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 3px;
    position : relative;
    top: -250px;
    left: 100px;
    right: 100px;
}
.ATR .logo a span 
{
    /* Comic sans front is being used on my PC, properly import your fronts or use built in ones, choose better fallbacks */
    /* font-family:'Clicker Script',cursive; */
    font-size: 40px;
}
.ATR .logo a ::before
{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);/* border  to  design example( */
    border-left: 5px solid var(--skin-color);
    bottom: -1px;;
    left: -10px;;
    
}
.ATR .logo a ::after
{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 2px;
    right: -9px;
}
.ATR .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 230px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.ATR .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
    top: -10px;
    left: -10px;
    margin-left: auto;
}
.ATR .nav-toggler.open span
{
    background-color: transparent;
}

.ATR .nav-toggler.open span::after
{
    transform: rotate(-45deg);
    top: 0px;
}
.ATR .nav-toggler.open span::before
{
    transform: rotate(45deg);
    top: 0px;
}

.ATR .nav-toggler span::before
{
    content:'';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position : absolute;
    top: 10px;
    left: 0px;
}
.ATR .nav-toggler span::after
{
    content:'';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 20px;
    left: 0px;
}

.ATR .nav 
{
    margin-top: 100px;/*space between logo and nav */
}
.ATR .nav li
{
    margin-bottom:20px;/*margin - bottom is space between (home / about / services / portfolio / contact ) */
    display:block;
}
.ATR .nav li a
{
    font-size:16px;
    font-weight:600;
    display:block;
    color:var(--text-black-900);
    padding:5px 15px;
    border-bottom:1px solid var(--bg-black-50);/* to --> (______________)*/
}
.ATR .nav li a.active
{
    color:var(--skin-color);
}
.ATR .nav li a i
{
    margin-right: 15px; /*space between example design and home*/
}
/* home */
.home
{
    min-height: 100vh;
    display:flex;
    color:var(--text-black-900)
}
.home .container
{
    padding: 40px;
}
.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello
{
    font-size:28px;
    margin: 15px 0;
}
h3.hello span
{
    /* font-family: 'Clicker Script',cursive; */
    font-size:30px;
    font-weight:700;
    color:var(--skin-color);
}
h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
}
.typing
{
    color: var(--skin-color);
}
.home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
    color:var(--text-black-700);
}
.home .home-img
{
    flex: 0 0 40%;
    max-width: 10%;
    position:relative;
    text-align: center;
    left: 100px;
}
/* image joker */
.home-img::after
{
    content: '   ';
    position:absolute;
    height:90px;
    width:40px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: -290px;
    bottom: 98px;
}
.home-img::before
{
    content: '   ';
    position:absolute;
    height:90px;
    width:40px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -13px;
    top:-30px;
}
.home .home-img img 
{
    height: 200px;
    min-height: 10vh;
    margin: auto;
    border-radius: 5px;
}
/* About */
.about .container
{
    padding: 40px;
}
.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3 
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight:700;
    color:var(--text-black-900);
}
.about .about-content .about-text h3 span
{
    color:var(--skin-color);
}
.about .about-content .about-text p 
{
    font-size:16px;
    line-height:25px;
    color:var(--text-black-700);
}
.about .about-content .personal-info
{
    flex:0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width:50%;
}
.about .about-content .about-text h3 span 
{
    color: var(--skin-color);
}
.about .about-content .personal-info .info-item p
{
    font-weight:600;
    padding:10px 0 ;
    font-size:16px;
    color: var(--skin-color);
    border-bottom: 1px solid var(--bg-black-50);
    text-align : center;
}
.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    color:var(--text-black-700);
    margin-left: 10px;
    display: inline-block;
}
.about .about-content .personal-info .buttons
{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn
{
    
    margin-top: 10px; /* margin is space between download cv and Hire Me*/
}
.about .about-content .skills
{
    flex: 0 0 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item
{
    flex: 0 0 100%;/*علشان يبقوا وراي بعض */
    max-width: 100%;
}
.about .about-content .skills .skill-item h5
{
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--skin-color);
    text-transform: capitalize;
    text-align: center;
}

.about .about-content .skills .skill-item .progress
{
    background-color:var(--bg-black-50);
    height:5px;
    width:100%;
    border-radius: 4px; /*الحوافر*/
    position: relative;
}
.about .about-content .skills .skill-item
{
    margin-bottom: 17px;
    width: 45px;
    height: 44px;
    border-bottom: 2px solid var(--skin-color);
}
.about .about-content .skills .skill-item .progress-in
{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color:var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent
{
    position: absolute;
    right: 0;
    color:var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width:50%;
    margin-top:30px;
}
.about .about-content h3.title
{
    font-size: 24px;
    margin-bottom: 300px;
    font-weight: 700;
    color: var(--skin-color);
}
.about .about-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline
{
    background-color:var(--bg-black-100);
    padding:30px 15px;
    border:1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
    top: -280px;
}
.about .about-content .timeline .timeline-item
{
    position:relative;
    padding-left:37px;
    padding-bottom:50px;
}
.about .about-content .timeline .timeline-item::before
{
    content:'';
    width: 1px;
    position:absolute;
    height:100%;
    left:7px;
    top:0;
    background-color:var(--skin-color);
}
.about .about-content .timeline .circle-dot
{
    position:absolute;
    left:0;
    top:0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:var(--skin-color)
}
.about .about-content .timeline .timeline-data
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--skin-color);
}
.about .about-content .timeline .timeline-data
{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--skin-color);
}
.about .about-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color:var(--text-black-700);
}
/* service */
.service .container
{
    padding: 40px;
}
.service .container
{
    padding-bottom: 40px;
}
.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width:33.33%; /*خلي الكلام بجوار بعضه*/
    padding-top: -10px;
}
.service .service-item .service-item-inner
{
    background-color:var(--bg-black-100);
    border:1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 0px 1px;
    text-align: center;/*======= center =======*/
    transition: all 0.35s ease;

}
.service .service-item .service-item-inner:hover
{
    box-shadow: 0 0 20px rgb(236 24 57 / 57%);
}
.service .service-item .service-item-inner .icon
{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition:all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon
{
    background:var(--skin-color);
} 
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color:#ffffff;
}
.service .service-item .service-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color:var(--skin-color);
    font-weight: 700;
    text-transform:capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 16px;
    color:var(--text-black-700);
    line-height: 25px;
}
/* portfolio */
.portfolio .container
{
    padding: 40px;
}
.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width:100%;
    margin-bottom: 30px;
    
}
.portfolio .portfolio-heading h2
{
    color:var(--text-black-900);
    font-weight: 500;
}

.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    
}

.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 5px;
    transition: all 0.35s ease;
}
.portfolio .portfolio-item .portfolio-item-inner:hover
{
    box-shadow: 0 0 20px rgb(236 24 57 / 57%);
}
.portfolio .portfolio-item-inner .portfolio-img img 
{
    width: 100%;
    display: block;
    padding: 10px;
    transition:all 0.3s ease;
}
/* contact */
.contact .container
{
    padding: 40px;
}
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 18px;
    margin-bottom: 60px;
}
.contact .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon
{
    color: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    display: block;
    margin: 0 auto -5px;
    display: inline-block;
    padding-right: 55px;
} 

/* .contact .contact-info-item .contact-info-item:hover .icon .fa
{
    font-size: 25px;
    color:#ffffff;
} */
.contact .contact-info-item:hover .icon .fa 
{
    font-size:20px;
    background-color: var(--skin-color);
    /* margin-bottom: 3000px;
    margin-left: -5px;
    margin-right: 300px;
    margin-top: 10px; */
    border-radius: 50px;
    color:#ffffff;
    height: 40px;
    padding: 10px;
    top:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.contact .contact-info-item .icon .fa
{
    font-size:25px;
    color:var(--skin-color);
    margin-bottom: 8px;
    padding-left: 10px;
}
.contact .contact-info-item .icon .fa-brands
{
    font-size:25px;
    color:var(--skin-color);
    margin-bottom: 8px;
    padding-left: 10px;
}
.contact .contact-info-item:hover .icon .fa-brands
{
    font-size:20px;
    color:#ffffff;
    /* margin-bottom: 3000px;
    margin-left: 11px;
    margin-right: 300px;
    margin-top: 10px; */
    background-color: var(--skin-color);
    padding: 10px;
    border-radius: 50px;
}


.contact .contact-info-item h4 
{
    font-size:18px;
    font-weight:700;
    color:var(--text-black-900);
    text-transform: capitalize;
    margin:5px 0 20px;
    padding-right: 15px;
}
.contact .contact-info-item p 
{
    font-size:16px;
    line-height:25px;
    color:var(--text-black-700);
    font-weight: 400;
    padding-right: 15px;
}
.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item
{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    font-family: inherit;
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgb(236 24 57 / 57%);
}
.contact .contact-form .form-item  textarea.form-control
{
    height: 140px;
}
.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}
@media (max-width: 1199px)
{
    
    .ATR
    {
        left: -270px;
    }
    .ATR.open
    {
        left: 0;
        
    }
    .ATR .nav-toggler
    {
        display: flex;
        left: 10px;
    }
    .section
    {
        left: 0;
    }
    .section.open
    {
        left: 210px;
    }
    .ATR .nav-toggler.open
    {
        left: 230px;
    }
    .about .about-content .personal-info .info-item p span
    {
        display: block;
        margin-left: 0;
    }
}
@media (max-width: 991px)
{
    .content .content-info-item,
    .portfolio .portfolio-item,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .about .about-content .education,
    .home .home-info
    {
        flex: 0 0 100%;
        max-width:100%;
    }
    .home .home-img
    {
        display: none;
    }
}
@media (max-width: 767px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-contact .experience,
    .about .about-contact .education,
    .about .about-contact .skills,
    .about .about-contact .personal-info
    {
        flex: 0 0 100%;
        max-width:100%;
        
    }
}
